<!-- <h1 class="text-blue-600">
    Hello world!
  </h1> -->
<!-- <app-home></app-home> -->
<!-- <app-comp2></app-comp2> -->
 <!-- <form [formGroup]="formgrp" (ngSubmit)="mysubmit()">


  <input type="text" name="" id="" formControlName="name"><br>
  <div *ngIf="issubmit && formgrp.get('name')?.errors?.['required']" style="color: red;">
   Name field is required . 
  </div>
  <input type="text" name="" id="" formControlName="pass"/><br>
  <input type="text" name="" id="" formControlName="cpass"><br>
  <div *ngIf="formgrp.get('cpass')?.['touched']">
    {{formgrp.get('cpass')?.errors?.['matcherr']}}
  </div>
  <div>

  </div>
  <button type="submit">Submit</button>
 </form> -->

<!-- <app-p></app-p> -->
 <app-comp2></app-comp2>